.carousel-section{
    width: 90%;
    margin: 2rem auto;
}

.slideCard{
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 350px; 
    display: block;
    transition: transform 0.5s ease;
}

.slideCard:hover {
  transform: translateY(-10px);
}

.imageWrapper {
  position: relative;
  height: 100%;
}

.slideCard img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.slideCard:hover img {
    transform: scale(1.05);
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  pointer-events: none;
}

.imageWrapper h3 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

.slideCard:hover h3 {
  opacity: 1;
  transform: translateY(0);
}